.progress-bar {
    animation: progress-anim 2s linear infinite;
  }
  
  @keyframes progress-anim {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  