/* WordHistoryCounts */

/* general custom border */
  .custom-border {
    border-top: 1px solid var(--secondary);
    border-right: 1px solid var(--secondary);
    border-bottom: 1px solid var(--secondary);
    border-left: 1px solid var(--secondary);
    background-color: var(--bs-dark);
    width: 100%;
  }

  .custom-tab{
    background-color: rgba(168, 32, 32, 0.719) !important;
  }

  .custom-button:hover {
    background-color: #2b819b; 
    color: #ffffff; 
  }
  